.bg-main {
  background-color: #04838f;
}

.border-main {
  border: 2px solid #04838f;
}

.w-canvas {
  width: 500px;
  height: 500px;
}

canvas:hover {
  cursor: pointer !important;
}

.custom-banner {
  object-fit: cover;
  object-position: center;
  height: 150px;
}
